div.jGrowl div.info {
	background-image:none;
	background-color: #51dd22;
	
	color: white;
}

div.jGrowl div.error {
	background-image:none;
	background-color: #ff0000;
	color: white;
}

div.jGrowl div.warning {
	background-image:none;
	background-color: #f2c50d;
	color: white;
}